body {
    background-color: #353535;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
    min-width: 100%;
    text-align: center;
}

.card-title {
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.card-list-item {
    border: none;
    font-weight: bold;
    text-align: center;
}

i {
    background-color: transparent !important;
}

#today-card-container {
    width: 100vw;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 5%;
    /* display: none !important; */
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

/* Media Query for Phones */
@media screen and (max-width: 500px) {
    #today-card-container {
        margin-bottom: 22%;
    }

    header {
        margin-top: 5%;
        margin-bottom: 1%;
    }

    .card-body {
        min-width: 70vw;
        max-width: 90vw;
    }

    .card-wrapper {
        width: 100vw;
    }

}

@media screen and (max-width: 1022px) {
    #today-card-container {
        margin-bottom: 8%;
    }
}

/* Media Query for Desktops */
@media screen and (min-width: 1023px) {
    #today-card-container {
        margin-bottom: 10%;
    }

    .card-body {
        min-width: 79vw;
    }
}