body {
    background-color: #353535;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
    min-width: 100%;
    text-align: center;
}

.form-control {
    text-align: left;
    font-weight: bold;
}

.card-title {
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.card-list-item {
    border: none;
    font-weight: bold;
    text-align: center;
}

i {
    background-color: transparent !important;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#today-card-container {
    width: 100vw;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 10%;
    /* display: none !important; */
}

#five-day-forcast-carousel {
    margin-top: 10%;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.five-day-card {
    width: 80%;
}

/* Media Query for Phones */
@media screen and (min-width: 350px) and (max-width: 500px) {
    #today-card-container {
        margin-bottom: 27%;
    }

    #five-day-forcast-carousel {
        margin-top: 20%;
    }

    header {
        margin-top: 5%;
        margin-bottom: 1%;
    }

    .card-body {
        min-width: 78vw;
        max-width: 90vw;
    }

    .card-wrapper {
        width: 100vw;
    }

}

/* Media Query for smaller phone screens */
@media screen and (min-width: 300px) and (max-width: 499px) {
    #today-card-container {
        margin-bottom: 15%;
    }
}

/* Media Query for Tablets */
@media screen and (min-width: 501px) and (max-width: 1023px) {
    #today-card-container {
        margin-bottom: 20%;
    }

    .card-body {
        min-width: 79vw;
    }
}

/* Media Query for Desktops */
@media screen and (min-width: 1024px) {
    #today-card-container {
        margin-bottom: 5%;
    }

    .card-body {
        min-width: 79vw;
    }
}